.login {

   background-color: #332421;
   .login-top {
      background-image: linear-gradient(to bottom right, #fb6340, #50180b);
      background-position: center center;
      .welcome-text {
         text-align-last: center;
         width: 700px;
         margin: auto;
         padding-bottom: 200px;
         
   
         .text-head {
            font-size: 5vw;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #fff;
         }
   
         .text {
            font-size: 34px;
            color: #a8abb2;
         }
   
      }
   }

   .login-bottom {
      background-color: #332421;
      transform: skewY(-3deg) translateY(-100px);

      .login-form {
         transform: skewY(3deg);
         width: 700px;
         margin-right: auto;
         margin-left: auto;

         .login-card {

            margin-top: 0px;
            border-radius: 10px;
            
            .login-card-body {
               
               .headerText {
                  text-align: center;
               }

               .button {
                  display: flex;
                  justify-content: center;
                  margin-top: 30px;

                  .btn-feature {
                     display: flex;
                     align-items: center;
                     margin-right: 50px;
                     background-color: white;
                     color:black;
                     border: 0;
                     box-shadow: 16px 13px 12px -14px rgba(68,65,65,0.75);
                     -webkit-box-shadow: 16px 13px 12px -14px rgba(68,65,65,0.75);
                     -moz-box-shadow: 16px 13px 12px -14px rgba(68,65,65,0.75);
                     font-size: 25px;

                     .github {
                        margin-right: 15px;
                     }
                  }
                  .btn-feature:hover {
                     box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     -webkit-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     -moz-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     transform: translate(0px, -2px);
                     border: 0;
                  }
               }

               .form-form {
                  margin-right: 30px;
                  margin-left: 30px;
                  margin-top: 25px;

                  .field {
                     margin-bottom: 25px;

                     .txt-label {
                        display: flex;
                        color: #a8abb2;
                        font-size: 30px;

                        .label-icon {
                           margin-right: 10px;
                           width: 50px;
                           height: 40px;
                        }
                     }
                     .input-layer-style {
                        box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                        -webkit-box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                        -moz-box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                        margin-bottom: 25px;
                     }

                     .check-checkbox {
                        display: flex;
                        align-items: center;
                        border: 0;
                        font-size: 23px;

                        .remember {
                           margin-right: 10px;
                           width: 30px;
                           height: 30px;
                        }
                        .remember:hover {
                           border: 0;
                           box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                           -webkit-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                           -moz-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                        }
                     }
                  }
                  .sign-in {
                     background-color: #fb6340;
                     border: 0;
                  }
                  .sign-in:hover {
                     box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     -webkit-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     -moz-box-shadow: 0px 0px 18px 0px rgba(68,65,65,0.75);
                     transform: translate(0px, -2px);
                     border: 0;
                  }
               }
            }
         }
      }
   }
}