.Table-component {

   background-color: #ffffff;
   .header {
      display: flex;
      background-color: white;
      padding: 20px;

      .fst {
         margin-right: auto;
      }

      Button {
         background-color: #5e72e4;
         border: 0px;
         border-radius: 10px;
         transition-property: all;
      }
      Button:hover {
         transform: translate(0px, -2px);
         box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
         -webkit-box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
         -moz-box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
      }
   }

   .card-body {

      padding: 0px;

      .table {
         
         tbody, td, tfoot, th, thead, tr  {
            border-style: none;
            padding: 15px;
         }
   
         thead {
            background-color: #f4f5f7;
            border-spacing: 0px;
            color: rgb(183, 195, 205);
         }

         tBody {
            .media-media {
               display: flex;
               align-items: center;

               .dot {
                  width: 10px;
                  height: 10px;
                  background-color: #5e72e4;
                  border-radius: 50%;
                  margin-right: 10px;
               }
               .dot1 {
                  width: 10px;
                  height: 10px;
                  background-color: #172b4d;
                  border-radius: 50%;
                  margin-right: 10px;
               }
               .dot2 {
                  width: 10px;
                  height: 10px;
                  background-color: #fb6340;
                  border-radius: 50%;
                  margin-right: 10px;
               }
               .dot3 {
                  width: 10px;
                  height: 10px;
                  background-color: #f5365c;
                  border-radius: 50%;
                  margin-right: 10px;
               }

               .media-avatar {
                  margin-right: 8px;
               } 
            }

            .table-avatar {
               display: flex;
               padding-right: 5px;
               .overlap {
                  margin-left: -15px;
               }

               .overlap:hover {
                  z-index: 1000;
               }
            }

            .dropdown-btn {
               background-color: white;
               border: 0;
            }
            .dropdown-btn:hover {
               box-shadow: 0px 2px 16px 9px rgba(0,0,0,0.15);
               -webkit-box-shadow: 0px 2px 16px 9px rgba(0,0,0,0.15);
               -moz-box-shadow: 0px 2px 16px 9px rgba(0,0,0,0.15);
            }
            
            .Drop1 {
               width: 200px;
               border: 1px solid #5e72e4;
               box-shadow: 0px 2px 16px 13px rgba(94,114,228,0.51);
               -webkit-box-shadow: 0px 2px 16px 13px rgba(94,114,228,0.51);
               -moz-box-shadow: 0px 2px 16px 13px rgba(94,114,228,0.51);

               .Drop {
                  padding: 15px;
               }
            }
            .Drop2 {
               width: 200px;
               border: 1px solid #172b4d;
               box-shadow: 0px 2px 16px 13px rgba(23,43,77,0.51);
               -webkit-box-shadow: 0px 2px 16px 13px rgba(23,43,77,0.51);
               -moz-box-shadow: 0px 2px 16px 13px rgba(23,43,77,0.51);

               .Drop {
                  padding: 15px;
               }
            }
            .Drop3 {
               width: 200px;
               border: 1px solid #fb6340;
               box-shadow: 0px 2px 16px 13px rgba(251,99,64,0.51);
               -webkit-box-shadow: 0px 2px 16px 13px rgba(251,99,64,0.51);
               -moz-box-shadow: 0px 2px 16px 13px rgba(251,99,64,0.51);

               .Drop {
                  padding: 15px;
               }
            }
            .Drop4 {
               width: 200px;
               border: 1px solid #f5365c;
               box-shadow: 0px 2px 16px 13px rgba(245,54,92,0.51);
               -webkit-box-shadow: 0px 2px 16px 13px rgba(245,54,92,0.51);
               -moz-box-shadow: 0px 2px 16px 13px rgba(245,54,92,0.51);

               .Drop {
                  padding: 15px;
               }
            }
            
         }

         tr {
            border-bottom: 1.5px solid #f4f5f7;
         }
      }
   }

   
}

.Table-component1 {

   background-color: #ffffff;
   margin-top: 20px;
   .header {
      display: flex;
      background-color: white;
      padding: 20px;

      .fst {
         margin-right: auto;
      }

      Button {
         background-color: #5e72e4;
         border: 0px;
         border-radius: 10px;
         transition-property: all;
      }
      Button:hover {
         transform: translate(0px, -2px);
         box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
         -webkit-box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
         -moz-box-shadow: 3px 7px 11px -5px rgba(0,0,0,0.65);
      }
   }

   .card-body {

      padding: 0px;

      .table {
         
         tbody, td, tfoot, th, thead, tr  {
            border-style: none;
            padding: 15px;
         }
   
         thead {
            background-color: #f4f5f7;
            border-spacing: 0px;
            color: rgb(183, 195, 205);
         }

         tr {
            border-bottom: 1.5px solid #f4f5f7;
         }
      }
   }
}