.User-profile {
   display: flex;
   height: 600px;
   background: linear-gradient(to bottom right, hsla(200, 63%, 60%, 0.94), hsla(180, 33%, 81%, 0.75), hsla(248, 34%, 45%, 0.85)),
               url(./table-avatar/IMG_20220703_080504_010.jpg)no-repeat center center / cover;

   .user-profile-body {
      flex: 7;
      margin-left: 300px;

      .back-img {
         object-fit: cover;
      }

      .user-info {
         margin-left: 20px;
         height: 400px;
         align-items: center;
         display: flex;
         
         .greeting-text {
            font-weight: bold;
            color: white;
            margin-bottom: 20px;
            font-size: 3rem;

         }
         .greeting-text::first-letter {
            font-size: 7rem;
         }
         .text {
            font-size: 23px;
            color: white;
            text-align-last: center;
         }
         .text::first-letter {
            font-size: 2em;
         }

         .edit-profile-btn {
            background-color: #fb6340;
            border-radius: 10px;
            border: 0;
         }

         .edit-profile-btn:hover {
            transform: translate(0px, -2px);
         }

         @media (min-width: 1200px) {

         }
      
         @media (min-width: 998px) and (max-width: 1200px) {
      
         }
      
         @media (min-width: 768px) and (max-width: 997px) {
            .greeting-text {
               font-weight: bold;
               color: white;
               margin-bottom: 10px;
               font-size: 1em;
      
            }
            .greeting-text::first-letter {
               font-size: 4rem;
            }
         }
      
         @media (max-width: 767px) {
      
            
         }
      }

      .user-user {

         margin-bottom: 40px;
         .user-detail-card {

            margin: 20px;
            border-radius: 10px;
            .userCard {
   
               border-radius: 10px;
               .userCardBody {
      
                  color: #564c9ad9;
                  .userCardHeader {
                     display: flex;
      
                     .connect-btn {
                        margin-right: auto;
                        background-color: #fb6340;
                        border-radius: 10px;
                        border: 0;
                        height: 40px;
                     }
                     .connect-btn:hover {
                        transform: translate(0px, -2px);
                     }
                     .userAvatar {
                        margin-right: auto;
                        border-radius: 50%;
                        height: 250px;
                        width: 250px;
                        margin-top: -120px;
                        margin-left: auto;
                        object-fit: cover;
                     }
                     
                     .userAvatar:hover {
                        transform: translate(0px, -4px);
                     }
                     .message-btn {
                        margin-left: auto;
                        background-color: #564c9ad9;
                        border-radius: 10px;
                        border: 0;
                        height: 40px;
                     }
                     .message-btn:hover {
                        transform: translate(0px, -2px);
                     }
                  }
      
                  .numbers {
                     align-self: center;
                     justify-content: center;
                     margin-top: 50px;
                     display: flex;
                     padding: 30px;
      
                     .num-text {
                        max-width: 70px;
                        margin-right: 20px;
                        text-align-last: center;
      
                        .super-txt {
                           color:#564c9ad9;
                        }
                        .txt {
                           color: #bfdfdf;
                        }
                     }
                  }
      
                  .userName {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     margin-top: 10px;
                     padding: 10px;
                     text-align-last: center;
      
                     .name-txt {
                        width: 150px;
                     }
                  }
      
                  .organiztion {
                     display: flex;
                     justify-content: center;
                     text-align-last: center;
                     .org-txt {
                        font-weight: bold;
                     }
                  }
   
                  .details {
                     padding: 20px;
                     text-align: justify;
                     text-indent:5px;
                     text-align-last: center;
   
                     .see-link {
                        background-color: #fb6340;
                        color: white;
                        border-radius: 10px;
                        border: 0;
                     }
                     .see-link:hover {
                        transform: translate(0px, -3px);
                     }
                     .seeMore {
                        display: block;
                        padding: 10px;
                     }
   
                     .seeLess {
                        display: none;
                     }
                  }
               }
            }
   
            .form-setting {
   
               border-radius: 10px;
               .form-setting-cardHeader {
                  display: flex;
                  align-items: center;
                  background-color: white;
                  border-radius: 10px;
   
                  .header-title {
                     margin-right: auto;
                     color: #564c9ad9;
                  }
                  .setting {
                     border: 0;
                     border-radius: 10px;
                     background-color: #564c9ad9;
                  }
   
                  .setting:hover {
                     transform: translate(0px, -2px);
                  }
               }
   
               .form-setting-cardBody {
                  
                  .input-layer {
                     outline: none;
                     border: 0;
                     background-color: white;
                     box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                     -webkit-box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                     -moz-box-shadow: -2px 2px 22px -2px rgba(68,65,65,0.75);
                  }
   
                  .setting-form {
                     color: white;
                     margin-left: 20px;
                     margin-right: 20px;
                     margin-top: 15px;
                     
                  }
                  .rule {
                     margin-top: 50px;
                     margin-bottom: 50px;
                  }
                  
   
                  .card-title {
                     color: #564c9ad9;
                     font-weight: bold;
                  }
               }
            }
   
   
   
   
            @media (min-width: 1200px) {
               
            }
   
            @media (min-width: 998px) and (max-width: 1200px) {
               .form-col-setting {
                  margin-top: 35px;
               }
            }
   
            @media (min-width: 768px) and (max-width: 997px) {
   
            }
   
            @media (max-width: 767px) {
   
            }
         }
      }
      
   }
}