$border-zero: 0;

.header {

   font-weight: bold;
   font-family: Open San;
   position: relative;
   display: block;

   NavbarToggler {
      z-index: 1000;
   }
   
   .navbar-brand {
      margin-right: auto;
   }
   
   .input-text {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 6px;
   }
   .input-own-border { 
      background-color: transparent;
      border: $border-zero;
      height: 60px;
      width: 350px;
      border-radius: 30px;
      outline: none;
   }
   
   .notify {
      margin-top: 15px;
      margin-right: 15px;
      display: flex;
   }
   .badge {
      top: 5px;
      right: 165px;
   }

   Form {
      margin-right: 30px;
   }
   .fa{
      padding-right: 20px;
   }
   
   
   @media (min-width: 992px) and (max-width: 1200px){
      Form {
         margin-right: 30px;
         margin-top: 10px;

         .input-own-border {
            height: 40px;
            width: 250px;
         }
      }
   }

   @media (min-width: 768px) and (max-width: 991px) {
      
      Form {
         margin-right: auto;
         margin-left: 50px;

         .input-own-border {
            height: 40px;
            width: 250px;
         }
      }

      .badge {
         top: 5px;
         right: 100px;
      }
   
   }
   @media (max-width: 766px) {
      .badge {
         display:none
      }
      Form {
         margin-right: auto;
         margin-left: 50px;

         .input-own-border {
            height: 40px;
            width: 200px;
         }
      }
   }
}

