$border-zero: 0;

.header {

   font-weight: bold;
   font-family: Open San;
   position: relative;

   NavbarBrand {
      text-decoration: none;
      color: black;
   }
   
   .navbar-brand {
      margin-right: auto;
   }
   
   
   
   .input-text {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 6px;
   }
   .input-own-border { 
      background-color: transparent;
      border: $border-zero;
      height: 60px;
      width: 350px;
      border-radius: 30px;
      outline: none;
   }
   
   .notify {
      margin-top: 15px;
      margin-right: 15px;
      display: flex;
   }
   .badge {
      top: 5px;
      right: 165px;
   }

   .avatar {
      object-fit: cover;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    Form {
       margin-right: 30px;
    }
    .fa{
       padding-right: 20px;
    }

   @media (min-width: 768px) and (max-width: 991px) {
      
      Form {
         margin-right: auto;
      }

      .badge {
         top: 5px;
         right: 100px;
      }
   
   }
   @media (max-width: 766px) {
      .badge {
         display:none
      }
   }
}

