.User-Header {

   .header-container {

      display: flex;
      align-items: center;
      font-weight: bold;
      font-family: Open San;
      position: relative;
      .nav-brand {
         margin-right: auto;
      }
      .search-input {
         
         .form-group {
            display: flex;
            align-items: center;
      
            .form-control {
               background-color: transparent;
            }
            .search-text-group {
               display: flex;
               border: 0;
               align-items: center;
               border: 2px solid white;
               border-radius: 30px;
               padding: 6px;

               .search-icon {
                  margin-right: 7px;
               }
               .search {
                  width: 350px;
                  outline: none;
                  border: 0;
                  border-radius: 20px;
               }
            }
         }
      }
      

      .profile {
         margin-left: 30px;

         .drop-down {

            .media {
               display: flex;
               align-items: center;
   
               .img-name {
                  margin-left: 7px;
               }
            }

            .drop-menu {

               padding-right: 70px;
               padding-left: 15px;
               padding-top: 5px;
               border-radius: 10px;
               
               .drop-item {
                  margin-top: 5px;
               }
               .drop-item-icon {
                  margin-right: 5px;
               }

            }
   
            
         }
      }

      @media (min-width: 992px) and (max-width: 1200px) {
         .nav-brand {
            display: none;
         }

         .search-input {
            margin-right: auto;
         }
      }

      @media (min-width: 768px) and (max-width: 991px) {
         .nav-brand {
            display: none;
         }

         .search-input {
            margin-right: auto;

            .search-text-group {
               display: flex;

               .search {
                  width: 150px;
                  outline: none;
                  border: 0;
                  border-radius: 20px;
               }
            }
            
         }

         .img-name {
            display: none;
         }
      }

      @media (max-width: 766px) {
         .nav-brand {
            display: none;
         }

         .search-input {
            margin-right: auto;

            .search-text-group {
               display: flex;

               .search {
                  width: 200px;
                  outline: none;
                  border: 0;
                  border-radius: 20px;
               }
            }
            
         }

         .img-name {
            display: none;
         }

      }
   }
   
}