.HeaderComponent {
   .icons {
      display: flex;
      align-items: center;

      &.positive {
         color: #2dce89;
      }
      &.negative {
         color: orangered;
      }
   }
   
   .avatar-icons {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}