.headbody {
   background-image: linear-gradient(to right, #38d4ff, #4b88f1);
   height: 600px;
   .HeaderComponent {
      
      margin-bottom: 100px;
      .icons {
         display: flex;
         align-items: center;
   
         &.positive {
            color: #2dce89;
         }
         &.negative {
            color: orangered;
         }
      }
      
      .avatar-icons {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      
   }
}

@media (max-width: 767px) {
   .headbody {
      height: 950px;
   }
}