.line-graph {
   max-width: auto;
   box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   -webkit-box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   -moz-box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   padding: 30px;
   border-radius: 20px;
   background-color: #172b4d;
   

   h6, h1 {
      color: white;
   }
}