.line-graph {
   max-width: auto;
   box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   -webkit-box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   -moz-box-shadow: -3px 8px 25px 3px rgba(0,0,0,0.57);
   padding: 30px;
   border-radius: 20px;
   background-color: #172b4d;
   

   h6, h1 {
      color: white;
   }

   .card-header {
      display: flex;

      .header-text {
         margin-right: auto;
      }
      .M-W-btn {
         
         .A {
            margin: 20px;
            background-color: white;
            color: #5e72e4;
         }
         .B {
            background-color: white;
            color: #5e72e4;
         }

         .btn-active {
            background-color: #5e72e4 ;
            margin: 20px;
            color: white;
         }
      }
   }
}